

html{
	
	
	background: url("../resources/images/bg.jpg") no-repeat center fixed;     
    background-size: cover;
	

	
}

.centerbox {
    width: 90vw;
	background-color:#00000000;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
	padding :13vw;
    padding-top: 350px;
    width: 70%;
    margin: auto;
}

.optionsdiv{
	
	height:30vh;
	width:100vw;
	display:none;
	
	
}

.bat{
	
	background-image: url("../resources/images/bat.gif");
	
	mix-blend-mode: multiply;

  width:50vw;
  height:100vh;
  opacity: 0.09;
  top: -25vh;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
   margin: auto;
}

.link{
	padding: 15px 30px;
	margin: 10px;
	display: inline-block;
	color: #000;
	background: #ffce54;
  text-decoration: none;
}

.link:hover{
	text-decoration: none;
	color: #000;
}

/*===================*/
/* WOOBLE VERTICAL
/*===================*/

@-webkit-keyframes wobble-vertical-on-hover {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes wobble-vertical-on-hover {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.wobble-vertical-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-vertical-on-hover:hover, .wobble-vertical-on-hover:focus, .wobble-vertical-on-hover:active {
  -webkit-animation-name: wobble-vertical-on-hover;
  animation-name: wobble-vertical-on-hover;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}